{% extends 'main/base.html' %}
{% block content %}
{% load static %}
<div class="mx-auto p-2" style="width: 400px;">
<h2>Užsakyti isagai</h2>
<table class="table table-bordered">
{% if animals %}
    <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Color</th>
      </tr>
    </thead>
    <tbody>
      {% for animal in animals %}
        <tr>
          <td>{{ animal.number }}</td>
          <td>{{ animal.name }}</td>
          <td>{{ animal.get_gender_display }}</td>
          <td>{{ animal.get_color_display }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>Nėra gyvulių, kuriems užsakyti isgai.</p>
{% endif %}
</div>
{% endblock %}