{% extends 'main/base.html' %}
{% block content %}
<div class="mx-auto p-2" style="width: 400px;">
<h2>Isagai</h2>
<table border="2" cellspacing="5" cellpadding="20">
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Color</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for animal in animals %}
      <tr>
        <td>{{ animal.number }}</td>
        <td>{{ animal.name }}</td>
        <td>{{ animal.get_gender_display }}</td>
        <td>{{ animal.get_color_display }}</td>
        <td>
          <form method="post" action="{% url 'order_isagai' animal.pk %}">
            {% csrf_token %}
            <button type="submit">Order Isagai</button>
          </form>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5">No eligible animals found.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'ordered_isagai' %}" class="btn btn-info" style="margin-bottom: 10px;">Peržiūrėti užsakytus isagus</a>
</div>
{% endblock %}